.header {
	align-items: center;
	background: #ccc;
	display: flex;
	height: 60px;
	justify-content: center;
	margin-bottom: 30px;
}

.header__title {
	font-size: 30px;
	font-weight: bold;
}

.city {
	font-size: 30px;
	font-weight: bold;
}

.weather {
	font-size: 30px;
}