body {
	background-color: #333;
	color: white;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 60px;
	margin-bottom: 30px;

	background: #222;
}

.header__title {
	font-size: 30px;
	font-weight: bold;
}

.weather {
	display: flex;
	justify-content: center;

	font-size: 30px;
}

.temp {
	display: flex;
	justify-content: center;

	font-size: 30px;
	font-weight: bold;
}

.form {
	max-width: 500px;
}